/* Variables */
:root {
    --main-bg-color: #333;
    --text-color: white;
    --nav-bg-color: #444;
    --hover-bg-color: #ddd;
    --hover-text-color: black;
    --main-content-bg: #f1f1f1;
}

.no-select, img {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.swal2-container {
    position: fixed !important;
    top: 30% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    border: 1px solid #000 !important;
    border-radius: 10px ;
    padding: 15px !important;
    background-color: #a8a8a881!important;
    min-width: 300px!important;
}

#swal2-html-container {
    text-align: center !important;
}

.swal2-actions {
    margin-top: 12px!important;
    justify-content: center !important;
    align-items: center !important;
}
  

body {
    font-family: system-ui ,'Lato', sans-serif, 'Courier New', 'Courier';
    margin: 0;
    padding: 0;

}


/*login.html*/

.nav-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

body .title {
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 15px;
}

.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
}

.register-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;

}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin: 10px 0;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.navigation {
    margin-top: 10px;
}

.username-side{
    margin-right: 20px;
    font-size: 25px!important;
    font-weight: bold;
    letter-spacing: 3px;
}

.login-link {
    margin-top: 10px;
    font-size: 14px;
}

.login-link a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.2s ease;
}

.login-link a:hover {
    color: #0056b3;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 200, 'opsz' 40;
}



/*chat.ejs*/
/* Estilos generales para el chat */
.chat-messages {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 30px;
    border-bottom: 1px solid #bdc3c7;
    max-width: 70vw;
    box-sizing: border-box;
}

.messageContainer {
    align-self: flex-start;
    background-color:#bbbbbb;
    color: #000;
    padding: 15px;
}

.myMessageContainer {
    align-self: flex-end;
    background-color:#007bff;
    color: #fff;
    padding: 15px;
}

.myMessageContainer, .messageContainer{
    display: flex;
    font-size: 15px;
    margin-bottom: 1%;
    border-radius: 10px;
    max-width: 60%;
}

.messageContainer p, .myMessageContainer p {
    max-width: 94%;
    overflow-wrap: break-word;
    display: inline;
    margin: 0;
}

.timeMessage{
    font-size: 11px;
    align-self: flex-end;
    margin-left: 7px;
} 

#iconChatMobile {
    visibility: hidden;
    display: none;
}


.chat-container {
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


.nav-list-chat-head {
    list-style: none;
    padding: 0;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.containerMenu {
    position: relative;
}

.nav-list-chat {
    list-style: none;
    flex-direction: column;
    padding: 0;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    
}

.chat-item {
    padding: 15px;
    border-top: 1px solid #007bff85;
    cursor: pointer;
    border-radius: 0px;
    margin: 1px 1px;
    transition: background-color 0.3s;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-item .contactName {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
}

.lastMessage {
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.nav-list-chat {
    
    overflow-y: auto; /* Permite el desplazamiento vertical */
    overflow-x: hidden;
     /* Altura máxima antes de que comience el desplazamiento */

}

.input-container {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-bottom-right-radius: 20px;
}

#chat-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#message-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #007bff;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#icon-send {
    background-color: #007bff;
    color: #ecf0f1;
    border: none;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 50%;
}

.material-symbols-outlined {
    cursor: pointer;
    background-color: #007bff;
    padding: 6px 8px;   
    border-radius: 50%;
    color: #ecf0f1;
    font-size: 20px;
    user-select: none;
}


.message-left {
    text-align: left;
    background-color: #e0e0e0;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;  
}

.message-right {
    text-align: right;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px;
    border-radius: 10px; 
}

.chat-container {
    display: flex;
    height: 100vh;
}

.chat-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30vw;
    background-color: #333;
    color: #ecf0f1;
}

.profileImagenContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileImagenContainer #imagenProfile {
    margin-right: 5px;
}

#contactButton {
    margin: 0;
}


.chat-item:hover {
    background-color: #007bff; /* Color principal de index.html */
    color: #fff;
}

.chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9; /* Fondo claro similar al hero de index.html */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.chat-header {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #007bff; /* Color principal de index.html */
    color: #ecf0f1;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-bottom-right-radius: 20px;
}

.login-button,
.register-button {
    border: 2px solid #fff;
    border-radius: 20px;
}

.contact-icon {
    display: flex;
    margin: 0;
    padding: 0;
    bottom: 20px; /* Espaciado desde la parte inferior */
    left: 430px; /* Espaciado desde la izquierda */
}

#addContactForm{
    position: absolute;
    background-color: #ffffffef;
    padding: 15px;
    border-radius: 10px;
    top: 105%;
    left: 0%;
}

#friendRequestsWrapper{
    display: flex;
    position: absolute;
    background-color: #ffffffef;
    padding: 10px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 10px;
    border: 1px solid #000;
    top: 5%;
    left: 105%;
    width: 20vw;
    flex-direction: column;
    box-sizing: border-box;
}

#friendRequestsWrapper .friendRequestContainer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    box-sizing: border-box;
}

#friendRequestsWrapper .friendRequestContainer .nameRequestContainer {
    max-width: auto;
    display: flex;
    align-items: center;
    font-size: 18px;
}

#friendRequestsWrapper .friendRequestContainer .timeRequestContainer {
    max-width: 50px;
    display: flex;
    font-size: 14px;
}

.statusContainer {
    display: flex;
    align-items: center;
    gap: 2%;
}



#menuChat {
    position: absolute;
    top: 120%;
    left: 50%;
    z-index: 0;
    padding: 0 30px;
    background-color: #ffffffe1;
    border-radius: 15px;
    color: #333;
    display: flex;
    flex-direction: column;
    box-sizing:content-box;
}

#menuChat  > div {
    margin-bottom: 20%;
    align-items: center;
}

#menuChat #homeButton {
    display: flex;
    margin-top: 20%;
    align-items: center;
    
}

#menuChat .text {
    margin-left: 10px;
    white-space: nowrap;
    font-size: 15px;
    font-weight:600;
    user-select: none;
}

.solicitud {
    display: flex;
}

.nav-list-logout {
    display: flex;
}

.hidden {
    visibility: hidden;
    display: none!important;
}

.visible {
    visibility: visible;
}

@media screen and (max-width: 1500px) {
    body .chat-item .contactName {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 4px;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    } 

    .chat-container .chat-sidebar {
        width: 35vw;
    }

    .chat-main .chat-messages {
        max-width: 65vw;
        padding: 30px;
        box-sizing: border-box;
    }

    .material-symbols-outlined {
        font-size: 18px;
    }
    .nav-list-logout,
    .contact-icon {
        left: 10px; 
    }

    .messageContainer {
        align-self: flex-start;
        background-color:#bbbbbb;
        color: #000;
        padding: 15px;
    }
    
    .myMessageContainer {
        align-self: flex-end;
        background-color:#007bff;
        color: #fff;
        padding: 15px;
    }
    
    #chat-messages .myMessageContainer, .messageContainer{
        display: flex;
        font-size: 16px;
        margin-bottom: 2%;
        border-radius: 10px;
        max-width: 60%;
    }
    
    .messageContainer p, .myMessageContainer p {
        max-width: 93%;
        overflow-wrap: break-word;
        display: inline;
        margin: 0;
    }
    
    .timeMessage{
        font-size: 10px;
        align-self: flex-end;
        margin-left: 7px;
    } 

    #friendRequestsWrapper{
        display: flex;
        position: absolute;
        background-color: #ffffffef;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10px;
        border: 1px solid #000;
        top: 0%;
        left: 105%;
        width: 25vw;
        flex-direction: column;
        box-sizing:border-box;
    }

    #friendRequestsWrapper .friendRequestContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        box-sizing: border-box;
    }

    #friendRequestsWrapper .friendRequestContainer .nameRequestContainer{ 
        font-size: 15px;
    }

    
    
}
/*@media screen and (max-width: 800px ){*/
    /*MOBILE DESIGN*/
    /* Ocultar sidebar en modo móvil cuando se hace clic en un chat */
    body.mobile .chat-sidebar:not(.active) {
        display: none;
    }

    /* Mostrar el chat principal en modo móvil cuando se hace clic en un chat */
    body.mobile .chat-main {
        display: none;
    }

    body.mobile .chat-header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    body.mobile .chat-header #chats_mobile {
        position: absolute;
        left: 0%;
    }

    body.mobile #iconChatMobile {
        visibility: visible;
        display: block;
    }

    body.mobile #contactNameText {
        letter-spacing: 2px;
        font-size: 20px;
        margin-left: 10px;
        font-weight: bold;
    }

    body.mobile #chat-messages .messageContainer p, body.mobile #chat-messages .myMessageContainer p{
        font-size: 12px;
        max-width: 90%;
        margin-right: 5px;
    }

    body.mobile .timeMessage{
        margin: 0;
        display: block;
        align-self: flex-end;
    }

    body.mobile .chat-main.active {
        width: 100%;
        display: flex;
    }

    body.mobile .chat-sidebar.active {
        width: 100vw;
        display: flex;
    }

    body.mobile .chat-item .contactName {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 3px;
    }

    body.mobile .chat-container .chat-main .chat-messages {
        max-width: 100vw;
        padding: 15px;
    }

    
    body.mobile #friendRequestsWrapper{
        display: flex;
        position: absolute;
        background-color: #ffffffef;
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        border: 1px solid #000;
        top: 0%;
        left: 105%;
        width: 40vw;
        flex-direction: column;
    }

    body.mobile #friendRequestsWrapper .friendRequestContainer {
        display: flex;
        justify-content: space-between;
        min-width: 0vw;
        max-width: 100%;
    }

    body.mobile #friendRequestsWrapper .friendRequestContainer .timeRequestContainer {
        display: none;
    }


    @media screen and (max-width: 700px) { 
        body.mobile #friendRequestsWrapper {
            width: 45vw;
        }
    }

@media screen and (max-width: 400px) { 
    body .messageContainer, #chat-messages .myMessageContainer{
        max-width: 65%!important;
    }
    body #chat-messages .messageContainer p, body #chat-messages .myMessageContainer p{
        max-width: 85%!important;
    }
}

/*}*/










/*index.html*/
.header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 0px;
    align-items: center;
}

/* Estilos del contenido principal */
.main-content {
    padding: 20px; /* Añadir un espacio a los lados */
    max-width: 800px;
    margin: 0 auto; /* Centrar el contenido principal */
    margin-top: 20px;
    /*border: 1px solid #ccc;*/
}

.hero {
    background-color: #f9f9f9;
    color: #333;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar sombra al contenido */
}

.hero-title {
    margin: 0;
    margin-bottom: 20px; /* Añadir un margen inferior */
    font-size: 24px;
}

/* Estilos para los botones de llamada a la acción (CTA) */
.cta-buttons {
    margin-top: 30px;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.2s ease; /* Añadir transición al cambio de color */
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Estilos del pie de página */
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}






/* Estilo para móvil */
/* Estilos para modo móvil */

#contactNameText {
    margin-left: 8px;
    letter-spacing: 4px;
    font-size: 25px;
    font-weight: bold;
}
  
/* Estilos generales */


.center-text {
  text-align: center;
}

.padding-1em {
  padding: 1em;
}

/* Estilos para la cabecera y el pie de página */
.header, .footer {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 1em;
}

/* Estilos para el menú de navegación */
.nav {
  background-color: var(--nav-bg-color);
  overflow: hidden;
}

.nav a {
  float: left;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
}

/* Estilos para el contenido principal */
.main {
  margin: 15px;
  padding: 15px;
  background-color: var(--main-content-bg);
}