body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;

}







/*login.html*/
.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
}

.register-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;

};

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin: 10px 0;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.navigation {
    margin-top: 10px;
}

.username-side{
    margin-right: 20px;
    font-size: 25px!important;
    font-weight: bold;
    letter-spacing: 3px;
}



/*.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.2s ease;
    border: 1px solid #fff; 
    border-radius: 20px;
    padding: 10px 15px;
}

.nav-link:hover {     
    color: #007bff; //Cambiar color de letras al pasar el mouse 
    background-color: #fff; //Cambiar el fondo al pasar el mouse 
}*/

.login-link {
    margin-top: 10px;
    font-size: 14px;
}

.login-link a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.2s ease;
}

.login-link a:hover {
    color: #0056b3;
}
    


.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 200, 'opsz' 40;
}






/*chat.ejs*/
/* Estilos generales para el chat */

#iconChatMobile {
    visibility: hidden;
    display: none;
}


.chat-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}


.nav-list-chat-head {
    list-style: none;
    padding: 0;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.containerMenu {
    position: relative;
}

.nav-list-chat {
    list-style: none;
    flex-direction: column;
    padding: 0;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    
}

.chat-item {
    padding: 30px;
    border-top: 1px solid #007bff; /* Color principal de index.html */
    cursor: pointer;
    border-radius: 0px;
    margin: 1px 1px;
    transition: background-color 0.3s;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;  /* Ajustar según tus necesidades */
}

.chat-item .contactName {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 5px;
   
}

.lastMessage {
    font-size: 14px;
    color: #fff;

}

.nav-list-chat {
    
    overflow-y: auto; /* Permite el desplazamiento vertical */
    overflow-x: hidden;
     /* Altura máxima antes de que comience el desplazamiento */

}

.input-container {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-bottom-right-radius: 20px;
}

#chat-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#message-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #007bff;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 10px;
}

#icon-send {
    background-color: #007bff;
    color: #ecf0f1;
    border: none;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 50%;
}

.material-symbols-outlined {
    cursor: pointer;
    background-color: #007bff;
    padding: 6px 8px;   
    border-radius: 50%;
    color: #ecf0f1;
    font-size: 20px;
    user-select: none;
}

@media screen and (max-width: 1300px) {
    .chat-container .chat-sidebar {
        width: 35%;
    }

    .material-symbols-outlined {
        font-size: 18px;
    }
    .nav-list-logout,
    .contact-icon {
        left: 10px; 
    }
}


.message-left {
    text-align: left;
    background-color: #e0e0e0;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;  
    /* Otros estilos según tu diseño */
}

.message-right {
    text-align: right;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px;
    border-radius: 10px; 
}

.chat-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.chat-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #333; /* Oscuro igual que el footer de index.html */
    color: #ecf0f1;
    overflow-y: auto;
    overflow-x: hidden; 
}

#contactButton {
    margin: 0;
}


.chat-item:hover {
    background-color: #007bff; /* Color principal de index.html */
    color: #fff;
}

.chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9; /* Fondo claro similar al hero de index.html */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.chat-header {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #007bff; /* Color principal de index.html */
    color: #ecf0f1;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    border-bottom: 1px solid #bdc3c7;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-bottom-right-radius: 20px;
}

#chat-form {
    display: flex;
    
    align-items: center;
    width: 100%;
}

#message-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #007bff;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 10px;
}

#icon-send {
    background-color: #007bff;
    color: #ecf0f1;
    border: none;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 50%;
}

.login-button,
.register-button {
    border: 2px solid #fff;
    border-radius: 20px;
}

.contact-icon {
    display: flex;
    margin: 0;
    padding: 0;
    bottom: 20px; /* Espaciado desde la parte inferior */
    left: 430px; /* Espaciado desde la izquierda */
}

#addContactForm{
    position: absolute;
    background-color: #ffffffef;
    padding: 15px;
    border-radius: 10px;
    top: 105%;
    left: 0%;
}



#menuChat {
    position: absolute;
    top: 120%;
    left: 50%;
    z-index: 0;
    padding: 0 30px;
    background-color: #ffffffe1;
    border-radius: 15px;
    color: #333;
    display: flex;
    flex-direction: column;
    box-sizing:content-box;
}

#menuChat  > div {
    margin-bottom: 20%;
    align-items: center;
}

#menuChat #homeButton {
    display: flex;
    margin-top: 20%;
    align-items: center;
    
}

#menuChat .text {
    margin-left: 10px;
    white-space: nowrap;
    font-size: 15px;
    font-weight:600;
    user-select: none;
}

.solicitud {
    display: flex;
}

.nav-list-logout {
    display: flex;
}

.hidden {
    visibility: hidden;
    display: none;
}

.visible {
    visibility: visible;
}










/*index.html*/
.header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.title {
    margin: 0;
    font-size: 28px;
}

/* Estilos del contenido principal */
.main-content {
    padding: 20px; /* Añadir un espacio a los lados */
    max-width: 800px;
    margin: 0 auto; /* Centrar el contenido principal */
    margin-top: 20px;
    /*border: 1px solid #ccc;*/
}

.hero {
    background-color: #f9f9f9;
    color: #333;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar sombra al contenido */
}

.hero-title {
    margin: 0;
    margin-bottom: 20px; /* Añadir un margen inferior */
    font-size: 24px;
}

/* Estilos para los botones de llamada a la acción (CTA) */
.cta-buttons {
    margin-top: 30px;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.2s ease; /* Añadir transición al cambio de color */
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Estilos del pie de página */
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}






/* Estilo para móvil */
/* Estilos para modo móvil */
body.mobile .chat-main.active {
    width: 100%;
    display: flex;
}

body.mobile .chat-sidebar.active {
    width: 100%;
    display: flex;
}

body.mobile .chat-item .contactName {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 3px;
}

#contactNameText {
    margin-left: 8px;
    letter-spacing: 4px;
    font-size: 25px;
    font-weight: bold;
}

.chat-item {
    padding: 20px;
    border-top: 1px solid #007bff;
    cursor: pointer;
    border-radius: 0px;
    margin: 1px 1px;
    transition: background-color 0.3s;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

/* Ocultar sidebar en modo móvil cuando se hace clic en un chat */
body.mobile .chat-sidebar:not(.active) {
    display: none;
}

/* Mostrar el chat principal en modo móvil cuando se hace clic en un chat */
body.mobile .chat-main {
    display: none;
}

body.mobile .chat-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

body.mobile .chat-header #chats_mobile {
    position: absolute;
    left: 0%;
}

body.mobile #iconChatMobile {
    visibility: visible;
    display: block;
}

body.mobile #contactNameText {
    letter-spacing: 2px;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}
